* {
    box-sizing: border-box;
}

body {
	 font-family:  'Montserrat', sans-serif;
	 background: #fff;
	 
}

.container{
	display:flex;
	flex-direction: column;
	justify-content:center;
}

.h1{
	 color:#FDA17B;
	 font-family: 'Roboto', sans-serif;;
	 font-size:20px;
	 font-weight: bolder;
	 font-style: italic;
	 text-align:center;
	}

.content-wrap {
	padding: 0 15px;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-logo img {
	height: 60px;
	margin: 10px 0;
}

.header-logo img {
	height: 40px;
}

.header-image img {
	width: 100%;
}

.trust-image img {
	height: 50px;
}

.logo-image{
	width:200px;
	margin:0 auto;
}

.logo-image img{
	width:100%;
}

.unique-value-proposition p{
	color:#22437e;
	text-align:center;
	padding:30px 40px;
}

.unique-value-proposition span{
	font-weight:bolder;
}

.benefit-box{
	width:100px;
	margin:30px auto;
	color:#22437E;
	text-align: center;

}

.benefit-box h2{
	font-weight:bolder;
}

.benefit-box p{
	margin:0 auto;
	width:200px;
	text-align:center;
}

.benefit-box img{
	width:100%;
}

.wrap-button{
	margin:0 auto;
}



.button-wrap {
	margin:0 auto 40px auto;

    position: relative;
}
.button {
    background-color:#FF6527;
    border-radius:18px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Montserrat;
    font-weight: bolder;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    
}
.button:hover {
    
    background-color:#f24437;
}
.button:active {
    position:relative;
    top:1px;
}
.button-line {
    position: absolute;
    top: 10px;
    left: 5px;
    height: 31px;
    width: 152px;
    border-radius:18px;
    border: 3px solid #22437E;
    z-index: -1;
}

.testimonials {
	color: #22437E;
	padding: 30px;
	background-image: #F2E6CD;
}

.quote {
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	font-weight: 900;
	font-style: italic;
	color: #22437E;

}

.video {
	width: 100%;
	

}
